*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Arial', sans-serif;
}

body{
  height:100vh;
  overflow:hidden;
  background:radial-gradient(circle at bottom, #1b2735 0%, #090a0f 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  text-align:center;
}

/* TEKS UTAMA */
h1{
  font-size:clamp(36px,6vw,80px);
  letter-spacing:4px;
  animation:fadeIn 2s ease forwards, glow 2s infinite alternate;
  z-index:2;
}

/* ANIMASI TEKS MASUK */
@keyframes fadeIn{
  from{
    opacity:0;
    transform:scale(0.8);
  }
  to{
    opacity:1;
    transform:scale(1);
  }
}

/* GLOW */
@keyframes glow{
  from{
    text-shadow:
      0 0 10px #ff0088,
      0 0 20px #ff0088,
      0 0 40px #ff0088;
  }
  to{
    text-shadow:
      0 0 20px #00ffff,
      0 0 40px #00ffff,
      0 0 80px #00ffff;
  }
}

/* CANVAS */
canvas{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}
body.fade-out{
  animation:fadeOut 1.2s ease forwards;
}

@keyframes fadeOut{
  to{
    opacity:0;
    transform:scale(1.1);
    filter:blur(10px);
  }
}