*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  scroll-behavior:smooth;
}
.h1-nav{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    text-transform: none;
    background-image: linear-gradient(
        to right,
        #ff00a6,
        #ff00c8,
        #ff02d1,
        #fff,
        #fff,
        #fff
    );

    -webkit-background-clip: text;
    background-clip: text;

    --bg-size: 200%;
    color: transparent;
    background-size: 200%;
    animation: animate 3s steps(5) infinite;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    to {
        background-position: var(--bg-size);
    }
}
/* NAVBAR */
nav{
  position:fixed;
  top:0;
  width:100%;
  background:#1e1e2f;
  padding:15px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:1000;
}

nav h1{
  color:#fff;
}

/* MENU */
nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

nav ul li a{
  color:#ff00dd;
  text-decoration:none;
  font-weight:bold;
}
nav ul li a:hover{
  color:#ff004c;
  text-decoration:none;
  font-weight:bold;
}

/* HAMBURGER */
.hamb{
  display:none;
  width:30px;
  height:24px;
  position:relative;
  cursor:pointer;
}

.hamb span{
  position:absolute;
  left:0;
  width:100%;
  height:3px;
  background:#fff;
  border-radius:5px;
  transition:0.4s;
}

.hamb span:nth-child(1){
  top:0;
}
.hamb span:nth-child(2){
  top:10px;
}
.hamb span:nth-child(3){
  top:20px;
}

/* ANIMASI JADI X */
.hamb.active span:nth-child(1){
  transform:rotate(45deg);
  top:10px;
}
.hamb.active span:nth-child(2){
  opacity:0;
}
.hamb.active span:nth-child(3){
  transform:rotate(-45deg);
  top:10px;
}

/* SECTION */
section{
  min-height:100vh;
  padding:100px 60px;
}
.copyright{
  text-align:center;
  padding:15px 10px;
  font-size:14px;
  color:#000000;
}

#pesan{
  min-height:100vh;
   background: #ff00c8;
background: linear-gradient(90deg,rgba(255, 0, 200, 1) 0%, rgba(255, 0, 94, 1) 50%, rgba(255, 0, 200, 1) 100%);
  color:#fff;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:40px 20px;
}

#pesan h2{
  margin-bottom:25px;
  font-size:32px;
}

/* FORM */
.pesan-form{
  width:100%;
  max-width:420px;
  background:rgba(0, 0, 0, 0.5);
  padding:30px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

/* INPUT */
.pesan-form input,
.pesan-form textarea{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  outline:none;
  font-size:15px;
}

/* BUTTON */
.pesan-form button{
  padding:12px;
  border:none;
  border-radius:10px;
  font-weight:bold;
  background:#00c3ff;
  cursor:pointer;
  transition:0.3s ease;
}

.pesan-form button:hover{
  background:#00a0d6;
}

/* RESPONSIVE HP */
@media(max-width:480px){
  #pesan h2{
    font-size:26px;
  }

  .pesan-form{
    padding:20px;
  }
}

/* RESPONSIVE */
@media(max-width:768px){
  nav ul{
    position:absolute;
    top:65px;
    right:0;
    width:220px;
    background:#1e1e2f;
    flex-direction:column;
    padding:20px;
    transform:translateX(100%);
    transition:transform 0.4s ease;
  }

  nav ul.active{
    transform:translateX(0);
  }

  .hamb{
    display: block;
  }
}